html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #d6b89c;
}

.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("images/hero.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 70px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    font-size: 22px;
    line-height: 1.8;
    color: #f0f0f0;
}

section {
    padding: 100px 50px;
}

section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

section p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    color: #cccccc;
}

.about-image {
    width: 70%;
    display: block;
    margin: 40px auto;
    border-radius: 12px;
}

.services {
    background-color: #181818;
}

.service-box {
    background-color: #222222;
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
}

.image-section {
    height: 500px;

    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url("images/horse.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;

    border: 1px solid #444;
    border-radius: 6px;

    background-color: #1b1b1b;
    color: white;
}

textarea {
    height: 140px;
}

button {
    background-color: #d6b89c;
    color: black;

    padding: 14px 24px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #c7a17a;
}
footer {
    background-color: #000;
    text-align: center;
    padding: 30px;
}

footer p {
    color: #999;
    letter-spacing: 1px;
}
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 768px) {

    nav {
        padding: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 45px;
    }

    .subtitle {
        font-size: 18px;
    }

    .hero p {
        font-size: 18px;
        padding: 0 20px;
    }

    section {
        padding: 70px 25px;
    }

    section h2 {
        font-size: 30px;
    }

    .about-image {
        width: 100%;
    }

    form {
        width: 100%;
    }

}